ion-view
  ion-content.padding
    ion-list
      ion-item.item-icon-left(ng-click='showModal()')
        i.icon.royal(ng-class='flow_type.icon')
        span {{flow_type.name}}
    button.button.button-energized(ng-if='type_dirty' ng-click='save()') Save
