ion-view
  ion-content.padding
    ion-refresher
    ion-list
      ion-item(ng-repeat='wallet in wallets')
        span {{wallet.name}}
        span.item-note {{wallet.balance | fin}}
    ion-list
      ion-item.item-icon-left.item-icon-right(ng-repeat="flow in flows | orderBy:'-date'" ui-sref='app.flow({ flowId: flow.id })')
        i.icon.royal(ng-class='flow.type.icon')
        {{flow.sum | fin}}
        {{flow.sms_place_name}}
        span.item-note(am-time-ago='flow.date')
        i.icon(style='opacity: 0.4' ng-class='flow.wallet.icon')
    button.button(ui-sref='test') To test
  ion-nav-buttons(side='right')
    button.button.button-clear(ui-sref='app.add') Add
