ion-view
  ion-content.padding
    h1 Main
    ion-list
      ion-item(ng-repeat='wallet in wallets')
        span {{wallet.name}}
        span.item-note {{wallet.balance | fin}}
    button.button.button-full.button-balanced(ui-sref='app.add') Add
    ion-list
      ion-item(ng-repeat="flow in flows | orderBy:'-date'" ui-sref='app.flow({ flowId: flow.id })')
        {{flow.sum | fin}}
        {{flow.sms_place_name}}
        {{flow.wallet.name}}
        span.item-note(am-time-ago='flow.date')
    button.button(ui-sref='test') To test
