ion-view
  ion-content
    ion-list
      ion-item(ng-repeat='place in cache.places')
        span {{place.name}}
        i.icon.ion-arrow-swap.assertive(style='padding: 0px 10px')
        span {{findType(place.type_id).name}}
