ion-modal-view
  ion-content
    button.button(ng-click='closeModal()') Close
    ion-scroll
      ion-list
        ion-radio(ng-model='$parent.$parent.flow.type_id' ng-value=null name='type_id')
          i.icon.icon-help
          span N/A
        ion-radio(ng-repeat='type in cache.types' ng-model='$parent.$parent.flow.type_id' ng-value='type.id' name='type_id')
          i.icon.royal(ng-class='type.icon')
          span {{type.name}}
